body {
    padding: 10px;
}

/* .item-container {
    display: inline-flex;
    margin: 2rem;
} */

/* Listing page */

.item-container {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

}


.img-container {
    display: inline-block;
    width: 450px;
    height: 600px;
    margin-right: 1rem;
}

.listing-img {
    width: 100%;
    height: auto;
}

.info-container {
    margin-left: 3rem;
    margin-right: 2rem;
}

.info-container > h2 {
    margin-bottom: 1rem;
}




.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-tag {
    margin-left: 2rem;
}

.bids {
    margin-right: 2rem;
}

.bid-container {
    background-color: rgb(235, 209, 178);
    padding: 2rem;
    margin-top: 1rem;
}

.bid-form {
    margin: 2rem;
}

#bid-form {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
}


label {
    display: block;
    text-transform: uppercase;
    color: rgb(71, 71, 71);
}

.bid-button {
    display: block;
    background-color: #0097ba;
    border: 0;
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}

.bid-singin {
    display: block;
    background-color: #0097ba;
    border: 0;
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.bid-singin:hover {
    text-decoration: none;
    background-color: #007994;
    color: white;

}

.description-container {
    margin-top: 2rem;
}

.description-container > h5 {
    text-transform: uppercase;
}

.messages {
    padding-left: 0;
}

.messages > li {
    list-style-type: none;
    padding: 1rem;
}

.messages .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}




/* Create listing page */


.create-title {

    margin: 1rem 0 2rem 2rem;
}

.create_listing_form {
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.create_listing_form > label {
    text-transform: capitalize;
}

.create_listing_form > input {
    margin-bottom: 2rem;
    width: 50%;
    padding: 0.25rem;
}

.create_listing_form > textarea, .create_listing_form > select {
    margin-bottom: 2rem;
}

.create_listing_form > textarea {
    width: 50%;
}

.create_listing_form > select {
    margin-right: 0.5rem;
    padding: 0.3rem;
}

.create-button {
    display: block;
    background-color: #0097ba;
    color: white;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    border: 0;
}
