body {
    padding: 10px;
}

/* Index page */


.index-listing-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    margin: 3rem 0 2rem 3rem;
    /* justify-items: center; */
}

.index-img-container {
    display: inline-block;
    width: 250px;
    height: 200px;
}

.index-listing-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: top center;
}

.index-listing-info {
    margin-left: 1rem;
}

.index-listing-info > h5 {
    text-transform: capitalize;
}

.index-listing-price {
    font-weight: 700;
}

.index-listing-info > a {
    text-decoration: none;
    color: black;
}

.index-listing-info > a:hover {
    text-decoration: none;
    color: #6763a1;
}










/* Listing page */

.item-container {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

}


.img-container {
    display: inline-block;
    width: 600px;
    height: 600px;
    margin-right: 1rem;
}

.listing-img {
    max-width: 100%;
    max-height: 100%;
}

.info-container {
    margin-left: 3rem;
    margin-right: 2rem;
}

.info-container > h2 {
    margin-bottom: 1rem;
}




.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-closed {
    color: red;
}

.message-won {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 1rem;
}

.price-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-tag {
    margin-left: 2rem;
}

.bids {
    margin-right: 2rem;
}

.bid-container {
    background-color: rgb(235, 209, 178);
    padding: 2rem;
    margin-top: 1rem;
}

.bid-form {
    margin: 2rem;
}

#bid-form {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
}


label {
    display: block;
    text-transform: uppercase;
    color: rgb(71, 71, 71);
}

.bid-button {
    display: block;
    background-color: #0097ba;
    border: 0;
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}

.bid-singin {
    display: block;
    background-color: #0097ba;
    border: 0;
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.bid-singin:hover {
    text-decoration: none;
    background-color: #007994;
    color: white;

}

.description-container {
    margin-top: 2rem;
}

.description-container > h5 {
    text-transform: uppercase;
}

.messages {
    padding-left: 0;
}

.messages > li {
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.messages .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.messages .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


.comment-section-container {
    margin-top: 2rem;
    width: 100%;
}

.comment-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 1rem;
}

.comment-info {
    padding: 1rem;
}

.comment-text {
    padding: 1rem;
}

.comment-section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black;
    margin-top: 6rem;

} 

.comment-section-header > p {
    margin-right: 1rem;
    background-color: #0097ba;
    color: white;
    padding: 5px 10px 5px 10px;
}

.comment-add-link {
    text-decoration: none;
    color: white;
    
}

.comment-add-link:hover {
    text-decoration: none;
    color: white;
}

.comment-section-title {
    padding-left: 1rem;
}

.comment-message {
    margin: 2rem 0rem 4rem 1rem;
}






/* Create listing page */


.create-title {

    margin: 1rem 0 2rem 2rem;
}

.create_listing_form {
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.create_listing_form > label {
    text-transform: capitalize;
}

.create_listing_form > input {
    margin-bottom: 2rem;
    width: 50%;
    padding: 0.25rem;
}

.create_listing_form > textarea, .create_listing_form > select {
    margin-bottom: 2rem;
}

.create_listing_form > textarea {
    width: 50%;
}

.create_listing_form > select {
    margin-right: 0.5rem;
    padding: 0.3rem;
}

.create-button {
    display: block;
    background-color: #0097ba;
    color: white;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    border: 0;
}




 /* Create comment */

 .create-comment-form {
    margin-left: 2rem;
    margin-bottom: 3rem;
 }

 .create-comment-form > label {
    text-transform: capitalize;
}

.create-comment-form > textarea {
    width: 50%;
    margin-bottom: 2rem;
}




