{% extends "auctions/layout.html" %}

{% block body %}

{% for category in categories %}
<h4><a href="{% url 'categories' %}?category_id={{category.id}}">{{category.name}}</a></h4>
    
{% endfor %}

{% if page_obj %}
    <div class="listings-container">
        <h5>{{category.name}}</h5>
        {% for listing in page_obj %}
            <div class='index-listing-container'>
                <div class="index-img-container">
                    <img class='index-listing-img' src="{{ listing.image.url }}"/>
                </div>
                <div class="index-listing-info">
                    <a href="{% url 'listing' listing.id %}">
                        <h5>{{ listing.title }}</h5>
                    </a>
                    <p>{{ listing.description }}</p>
                    <p class="index-listing-price">Price: {{ listing.price }}$</p>
                </div>
                


            </div>

        {% endfor %}

    </div>
{% endif %}

{% if paginator > 1%}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&category_id={{category.id}}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&category_id={{category.id}}">{{ page_obj.previous_page_number }}</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }}
                
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&category_id={{category.id}}">{{ page_obj.next_page_number }}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&category_id={{category.id}}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock %}