{% extends "auctions/layout.html" %}

{% block body %}
    <p>{{listing.category.parent}} > {{listing.category}}</p>
    <div class='item-container'>
        <div class='img-container'>
            <img class='listing-img' src="{{ listing.image.url }}"/>
        </div>
        <div class='info-container'>
            <h2>{{ listing.title }}</h2>
            {% if listing.status == 'ACTIVE' and listing.user == user %} 
                <a href="{% url 'close' listing.id %}"> <p>Close the auction</p> </a>
            {% endif %}

            <div class='info'>
                {% if listing.status == 'ACTIVE'%}
                    <p>Valid until: {{ listing.valid_until }}</p>
                {% else %}
                    <p class='info-closed'>Closed</p>
                {% endif%}
                <p>Seller: {{ listing.user }}</p>
            </div>

            {% if listing.status == 'ACTIVE' %}
                <div class="bid-container">
                    <div class="price-info">
                        <h3 class="price-tag">{{ price }}$</h3>
                        <h4 class="bids"> {{ bids }} bids </h4>
                    </div>
                    
                    <form class="bid-form" method="POST">
                        {% csrf_token %}
                        <label for='bid-form'>Your bid:</label>
                        <input type='text' id='bid-form' name='bid'/>
                        {% if user.is_authenticated %}
                            <button class="bid-button" type="submit">Place bid</button>
                        {% else %}
                            <a class='bid-singin' href="{% url 'login' %}">Sing in to place bid</a>
                        {% endif %}
                    </form>
                </div>
            {% elif  user == winning_bid.user%}
                <p class='message-won'>You have been won the auction with your last bid {{ winning_bid.bid }}$</p>
            {% endif %}

            <div class="description-container">
                <h5>Description</h5>
                <p>{{listing.description}}</p>
            </div>

            {% if listing.status == 'ACTIVE' %}
                {% if found_in_watchlist %}
                    <a href="{% url 'watchlist_delete' listing.id %}"><p>Remove from watchlist</p></a>
                {% else %}
                <a href="{% url 'watchlist_add' listing.id %}"><p>Add to watchlist</p></a>
                {% endif %}
            {% endif %}

            
        </div>
    </div>

    <div class='comment-section-container'>
        <div class="comment-section-header">
            <h5 class='comment-section-title'>Comments</h5>
            <p><a class="comment-add-link" href="{% url 'create_comment' listing.id %}">Write a comment</a></p>
        </div>
        
        {% for comment in comments %}
            <div class='comment-container'>
                <div class='comment-info'>
                    <p>By {{ comment.user }}</p>
                    <p>{{ comment.date_created }}</p>
                </div>
                <div class="comment-text">
                    <p>{{ comment.comment }}</p>

                </div>


            </div>     
        {% endfor %}

    </div>
    
    
    

    
{% endblock %}